<div class="custom-radio">
    <legend class="custom-label">{{ label }}</legend>
    <fieldset class="radio-group">
        @for (option of options; track $index) {
        <label class="radio-option" [class.required]="required && !value">
            <input type="radio" [name]="'custom-radio-' + $index" [checked]="value === option" (change)="select(option)" />
            <span class="radio-circle"></span>
            <span class="radio-text">{{ option.label }}</span>
        </label>
        }
    </fieldset>
</div>