<div class="custom-input" [class.is-required]="required() && !date">
  <label class="custom-label">{{ label() }}</label>
  <div class="input-shell">
    <input matInput [matDatepicker]="picker" [(ngModel)]="date" />
    @if (mode() === 'datetime') {
    <input type="time" class="time-inline" [(value)]="time" />
    }
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon>calendar_today</mat-icon>
    </mat-datepicker-toggle>
  </div>
  <mat-datepicker #picker></mat-datepicker>
</div>